<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - BaseCube</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">   
        <header class="header">
            <div class="header-left">
                <a href="/">BaseCube</a>
            </div>
            <div class="header-right">
                <a href="/database">Database</a>
                <a href="/endpoint">Endpoint</a>
                <a href="/account/payment">Account</a>
                <a href="/logout">Logout</a>
            </div>
        </header>

        <%- body %>

        <footer class="footer">
            designed by kraftenty
        </footer>
    </div>  
</body>
</html>