<div class="content-wrapper">
    <aside class="sidebar">
        <!-- 사이드바 내용 -->
        <p>
            <a href="/">About</a>
        </p>
        <p>
            <a href="/help">Help</a>
        </p>
        <p>
            <a href="/contact">Contact</a>
        </p>
    </aside>
    
    <main class="main">
        <p>contact</p>
    </main>
</div>