<div class="content-wrapper">
    <aside class="sidebar">
        <!-- 사이드바 내용 -->
        <p>
            <a href="/endpoint/create">Create Endpoint</a>
        </p>
    </aside>
    
    <main class="main">
        <p>endpoints</p>
    </main>
</div>