<div class="content-wrapper">
    <aside class="sidebar">
        <!-- 사이드바 내용 -->
        <p>
            <a href="/account/payment">Payment</a>
        </p>
        <p>
            <a href="/account/updateinfo">Update Information</a>
        </p>
        <p>
            <a href="/account/delete">Delete Account</a>
        </p>
    </aside>
    
    <main class="main">
        <h3>Payment</h3>
    </main>
</div>